.badge{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background: $color-orange;
  color: $color-white;
  font-weight: 700;
  font-size: 22px;
  line-height: 135%;
  text-transform: uppercase;
  transform: rotate(18.35deg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  span{
    display: block;
    margin: auto;
  }

  &--new{
    left: 0;
    top: 0;
    transform: none;
    width: 36px;
    height: 36px;
    background: $color-grey-gold;
    font-family: $font-badge-new;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: $line-height-big;
    text-transform: uppercase;

    span{
      padding-top: 2px;
    }
  }

  @media all and (min-width: $desktop-width) {
    &--new{
      left: 50px;
      top: 38px;
      width: 62px;
      height: 62px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}