input,
textarea {
  width: 100%;
  height: 46px;
  padding: 10px;
  border: 1px solid $color-grey;
  margin-bottom: 16px;
  border-radius: 10px;
  line-height: $line-height-big;
}

form {
  label {
    margin: 0 0 5px 3px;
    font-weight: 500;
    font-size: $font-size-small;
    line-height: $line-height-big;
    color: $color-khaki-light;
  }
}